/node_modules
/public/hot
/public/storage
 /storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
freelancing-platform/bootstrap/cache/packages.php
        freelancing-platform/bootstrap/cache/services.php
        freelancing-platform/storage/framework/cache/data/c0/71/c071422490d526a8aada046adf3a9c9fa0593468
        freelancing-platform/storage/framework/cache/data/ec/c4/ecc49f49f4da6b940dcde13f0571e79c299871e6
        freelancing-platform/storage/framework/views/0deb91132ca803e3d3a2c457e4624739e3c8a5c3.php
        freelancing-platform/vendor/asm89/stack-cors/LICENSE
        freelancing-platform/vendor/asm89/stack-cors/README.md
        freelancing-platform/vendor/asm89/stack-cors/composer.json
        freelancing-platform/vendor/asm89/stack-cors/src/Cors.php
        freelancing-platform/vendor/asm89/stack-cors/src/CorsService.php
        freelancing-platform/vendor/autoload.php
        freelancing-platform/vendor/bin/carbon
        freelancing-platform/vendor/bin/commonmark
        freelancing-platform/vendor/bin/generate-defuse-key
        freelancing-platform/vendor/bin/php-parse
        freelancing-platform/vendor/bin/phpunit
        freelancing-platform/vendor/bin/psysh
        freelancing-platform/vendor/bin/sail
        freelancing-platform/vendor/bin/var-dump-server
        freelancing-platform/vendor/brick/math/CHANGELOG.md
        freelancing-platform/vendor/brick/math/LICENSE
        freelancing-platform/vendor/brick/math/SECURITY.md
        freelancing-platform/vendor/brick/math/composer.json
        freelancing-platform/vendor/brick/math/random-tests.php
        freelancing-platform/vendor/brick/math/src/BigDecimal.php
        freelancing-platform/vendor/brick/math/src/BigInteger.php
        freelancing-platform/vendor/brick/math/src/BigNumber.php
        freelancing-platform/vendor/brick/math/src/BigRational.php
        freelancing-platform/vendor/brick/math/src/Exception/DivisionByZeroException.php
        freelancing-platform/vendor/brick/math/src/Exception/IntegerOverflowException.php
        freelancing-platform/vendor/brick/math/src/Exception/MathException.php
        freelancing-platform/vendor/brick/math/src/Exception/NegativeNumberException.php
        freelancing-platform/vendor/brick/math/src/Exception/NumberFormatException.php
        freelancing-platform/vendor/brick/math/src/Exception/RoundingNecessaryException.php
        freelancing-platform/vendor/brick/math/src/Internal/Calculator.php
        freelancing-platform/vendor/brick/math/src/Internal/Calculator/BcMathCalculator.php
        freelancing-platform/vendor/brick/math/src/Internal/Calculator/GmpCalculator.php
        freelancing-platform/vendor/brick/math/src/Internal/Calculator/NativeCalculator.php
        freelancing-platform/vendor/brick/math/src/RoundingMode.php
        freelancing-platform/vendor/composer/ClassLoader.php
        freelancing-platform/vendor/composer/InstalledVersions.php
        freelancing-platform/vendor/composer/LICENSE
        freelancing-platform/vendor/composer/autoload_classmap.php
        freelancing-platform/vendor/composer/autoload_files.php
        freelancing-platform/vendor/composer/autoload_namespaces.php
        freelancing-platform/vendor/composer/autoload_psr4.php
        freelancing-platform/vendor/composer/autoload_real.php
        freelancing-platform/vendor/composer/autoload_static.php
        freelancing-platform/vendor/composer/installed.json
        freelancing-platform/vendor/composer/installed.php
        freelancing-platform/vendor/composer/platform_check.php
        freelancing-platform/vendor/defuse/php-encryption/LICENSE
        freelancing-platform/vendor/defuse/php-encryption/README.md
        freelancing-platform/vendor/defuse/php-encryption/bin/generate-defuse-key
        freelancing-platform/vendor/defuse/php-encryption/composer.json
        freelancing-platform/vendor/defuse/php-encryption/dist/Makefile
        freelancing-platform/vendor/defuse/php-encryption/dist/box.json
        freelancing-platform/vendor/defuse/php-encryption/dist/signingkey-new.asc
        freelancing-platform/vendor/defuse/php-encryption/dist/signingkey-new.asc.sig
        freelancing-platform/vendor/defuse/php-encryption/dist/signingkey.asc
        freelancing-platform/vendor/defuse/php-encryption/docs/CryptoDetails.md
        freelancing-platform/vendor/defuse/php-encryption/docs/FAQ.md
        freelancing-platform/vendor/defuse/php-encryption/docs/InstallingAndVerifying.md
        freelancing-platform/vendor/defuse/php-encryption/docs/InternalDeveloperDocs.m
